header {
    padding: 2.7rem 3rem;
}

header img {
    padding: 0 2.1rem;
}

h3 {
    padding-top: 14rem;
    width: 100%;
}

.menu {
    padding-top: 14rem;
    height: 40vh;
    width: 5rem;
}

.menu-button {
  text-decoration: none;
  color: inherit;
}