@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Manrope:wght@200..800&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  color: #000000;
  background-color: white;
}

/* TYPOGRAPHY*/
h2 {
  font-family: Manrope;
  font-weight: 300;
  font-style: Light;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: 0%;

}

h3 {
  font-family: DotGothic16;
  font-weight: 400;
  font-style: Regular;
  font-size: 2.8rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.writing-vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
/* GRID */

.d-flex {
  display: flex;
}

.jc-space-between {
  justify-content: space-between;
}

.fd-column {
  flex-direction: column;
}
