.about {
    padding: 5rem 15rem 0 30rem;
    gap: 1rem;
}

.name {
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
}

.description {
    font-weight: 300;
    font-style: ExtraLight;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 0%;
    margin: 0;
}

.network {
    gap: 1rem
}

.experiences {
    padding: 8rem 8rem 0rem 8rem;
    gap: 3rem;
}

.experiences-l1, .experiences-l2 {
    gap: 2rem;
}